<!-- Denys Astafiev  -->
<section class="section">
  <div class="container">
    <h2 class="section-title">Some of Our Favorites</h2>
    <p></p>
    <ul class="card-set">
      <li class="card-set-item">
        <a href="" aria-label="dish">
          <picture></picture>
        </a>
      </li>
      <li class="card-set-item">
        <a href="" aria-label="dish">
          <picture></picture>
        </a>
      </li>
      <li class="card-set-item">
        <a href="" aria-label="dish">
          <picture></picture>
        </a>
      </li>
      <li class="card-set-item">
        <a href="" aria-label="dish">
          <picture></picture>
        </a>
      </li>
      <li class="card-set-item">
        <a href="" aria-label="dish">
          <picture></picture>
        </a>
      </li>
      <li class="card-set-item">
        <a href="" aria-label="dish">
          <picture></picture>
        </a>
      </li>
    </ul>
  </div>
</section>
